script(src='/javascripts/EntryBox.js')
script(src='/javascripts/create.js')
include mixins/locationWidget
.wrapper
    include navbar
    mixin locationWidget('create')
    .container
        div
            table.centerer.imagepane
                tr
                    td.picturetext Get Writing!
                    td
                        img(height="60", width="60", src='/images/Page_Edit_White.png')
        h2 Create a New TalePipe!
        br
        .optionholder
            div
                span(class='option') Title
                span(id='titlewarning', class='gonebad') *
                span :
            input(id='createtitle', type='text', class='optioninput')
        .optionholder
        div(class='option ideasgroup') Some ideas:
            #seed
                table
                    tr
                        td 
                            br
                        td(class='characterHolder')
                            div Character:
                        td(class='characterHolder')
                            span(id='characterOne')
                        td(class='characterHolder')
                            div(id='characterrefresh', class='refresh')
                    tr
                        td
                            br
                        td(class='locationHolder')
                            div Where: 
                        td(class='locationHolder')
                            span(id='location')
                        td(class='locationHolder')
                            div(id='locationrefresh', class='refresh')
        .optionholder
            div
                span(class='option') Opening Paragraph
                span(class='gonebad') *
                span : (
                span(id='charwarning')
                span )
            textarea(id='contribution', class='optioninput', rows='5')
        br
        div The next person will only see this:
        #visibleText
        .loggedon
            #contributebutton Create the TalePipe!
        .loggedout
            .gonebad Looks like you're logged out! Please log back via Facebook to create this story
    .push
include footer