script(src='/javascripts/EntryBox.js')
script(src='/javascripts/create.js')
.wrapper
    include navbar
    .container
        h2 Create a New TalePipe!
        div &nbsp
        .optionholder
            div
                span(class='option') Title
                span(id='titlewarning', class='gonebad') *
                span :
            input(id='createtitle', type='text', class='optioninput')
        .optionholder
        .option Some ideas:
            #seed
                table
                    tr
                        td 
                            div &nbsp
                        td(class='characterHolder')
                            div Characters:
                        td(class='characterHolder')
                            span(id='characterOne')
                            span &nbspand 
                            span(id='characterTwo')
                        td(class='characterHolder')
                            div(id='characterrefresh', class='refresh')
                    tr
                        td
                            div &nbsp
                        td(class='locationHolder')
                            div Where?: 
                        td(class='locationHolder')
                            span(id='location')
                        td(class='locationHolder')
                            div(id='locationrefresh', class='refresh')
        .optionholder
            div
                span(class='option') Opening Paragraph
                span(class='gonebad') *
                span : (
                span(id='charwarning')
                span )
            textarea(id='contribution', class='optioninput', rows='5')
        div &nbsp
        .loggedon
            #contributebutton Create the Story!
        .loggedout
            .gonebad Looks like you're logged out! Please log back via Facebook to create this story
    .push
include footer