script(src='/javascripts/create.js')
.wrapper
    include navbar
    #container
        h2 Create a New Story!
        div &nbsp
        .loggedon
            .optionholder
                .option Title:
                input(id='createtitle', type='text', class='optioninput')
            .optionholder
                .option Characters:
                input(type='text', class='optioninput')
            .optionholder
                span(class='option') Story Sections (
                span(class='option', id='slidervalue') 5
                span(class='option') ):
                div(id='createslider', class='optioninput')
            .optionholder
                div
                    span(class='option') Opening Paragraph: (
                    span(id='charwarning')
                    span )
                textarea(id='openingparagraph', class='optioninput', rows='5')
            div &nbsp
            #createbutton Create the Story!
        .loggedout
            div Please login via Facebook to create a story
    .push
include footer