include mixins/storymixins
include mixins/locationWidget
script(src='/javascripts/storyrenderer.js')
script(src='/javascripts/friendsrenderer.js')
.wrapper
    include navbar
    mixin locationWidget('read')
    .container 
        h2 Your Friends
        br
        .loggedon
            table(width="100%")
                tr
                    td(style="vertical-align:text-top", width="200px")
                        #friends
                            div Just loading your friends...
                    td(style="vertical-align:text-top")
                        #storywindow
                            div Select a friend to see their stories            
        .loggedout            
            .gonebad Please log in via Facebook to see your friends' stories
    .push
include footer