#fb-root
.wrapper
    include navbar
    #container Welcome to Consequences. Build a story, just give it a title and share it on Facebook to get your friends to finish it.
    .push
include footer