include mixins/storymixins
script(src='/javascripts/storyrenderer.js')
.wrapper
    include navbar
    .container 
        div Welcome to TalePipe--a way to see just how good your friends are at spinning a story when they don't know all the facts.
        br
        div Write the first few lines of a story and challenge others to continue the tale by adding their contributions. Sounds easy--except for the fact that they'll only be able to see the last few words of the previous section.
        br
        div How to make a TalePipe:
        div  
            span 1. 
            span(class='pointer', onclick="FB.login()") Log-in via Facebook
        div  2. Click Create
        div  3. Give it the title and first few lines of your choice
        div  4. Share your story with friends via Facebook and challenge them to add to the TalePipe!
        br
        .leftfloat.bigbutton
            .loggedon(onclick="location.href='/userstories/1/popularity/DESC'") My TalePipes
            .loggedout(onclick="FB.login()") Logon to view your TalePipes!
        .rightfloat.bigbutton
            .loggedon(onclick="location.href='/friendsstories'") Friends' TalePipes
            .loggedout(onclick="FB.login()") Logon to view friends' TalePipes!
        .clearfloats
        .bigbutton.leftfloat(onclick="location.href='/allstories/1/popularity/DESC'") See Other TalePipes!
        .bigbutton.rightfloat(onclick="location.href='/neverending'") The Neverending TalePipe
        .clearfloats
        br
        div 
            span Want to know more about how it works? 
            a(href='/howto') Click here.
    - if (storyId)
        .container
            h1 Top TalePipe
            br
            mixin storyrender(storyId, storyTitle, characterOne, location, owner, sections, completed, true)
    .push
include footer