.wrapper
    include navbar
    #container 
        div Welcome to Consequences. Build a story, just give it a title and share it on Facebook to get your friends to finish it.
        div &nbsp
        div
            span Click 
            a(href='/howto') here
            span &nbspfor a detailed 'How To'.
        .biggertext.loggedout 
            span Just 
            span(class='pointer', onclick="FB.login()") login
            span &nbspvia Facebook to create your own! We'll ask for your email address, but will only ever email you to let you know when your story is completed.
        div &nbsp
        div &nbsp
        .bigbutton.leftfloat.loggedon(onclick="location.href='/create'") Get Started!
        .bigbutton.rightfloat(onclick="location.href='/allstories/1/popularity/DESC'") See Other Stories!
    .push
include footer