.wrapper
    include navbar
    #container 
        h2 FAQs
        div &nbsp
        h3 What is a TalePipe?
        p A TalePipe is a short story that anyone can start and challenge friends to continue, piece by piece, until it's finished. Continuing the story is easy -- except for the fact that the person writing the next piece of the story can only see a few words of the previous part. Only when the finished story is revealed will your friends' creativity be proved.
        div &nbsp
        h3 How many people can collaborate on a TailPipe?
        p Five friends, including the person who first created it.
        div &nbsp
        h3 How do I make a TalePipe?
        p Login on this website via Facebook and visit the Create A Story page. All you need to do to make a new TalePipe is think of a title and to write the first few lines of your story. To make it even easier, we even suggest a few ideas for you to use.
        div &nbsp
        h3 How do I share my TalePipe with friends to get them to continue it?
        p You can pass on your story by clicking 'Send' under your TalePipe, and choose which Facebook Friends you want to share it with. They'll then receive a Facebook message telling them how to add to the TalePipe.
        div &nbsp
        h3 How do my friends add to my TalePipe?
        p Once they've received your Facebook invitation, they'll be directed to this website where they can add their short contribution one by one. To keep it exciting and unexpected, they'll only be able to see the last few words of the TalePipe so far.
        div &nbsp
        h3 What happens when the TalePipe is finished?
        p Once all five pieces of your TalePipe are in place, you and your friends will be alerted that the story is complete, and you'll be able to see the finished product.
        div &nbsp
        h3 Why do you need my email address?
        p We ask for your email so we can let you know when your TalePipe has been finished. We'll never use it for any other purpose--we promise.
    .push
include footer