.wrapper
    include navbar
    #container 
        h2 How To Play Consequentials
        div &nbsp
        p 1) Create a new game.
        p &nbsp i) Give the story a title
        p &nbsp ii) Choose the number of people to you want to contribute to you story
        p &nbsp ii) Write the opening section
        p 2) Share with your friends
        p &nbsp i) They will see the last few words in your section of the story
        p &nbsp ii) They write their contribution and share for the next person to continue
        p &nbsp ii) When you submit your part you will see the story as it stands
        p &nbsp iii) Rinse and repeat until the story is finished
        p 3) When the story is finished, everyone who contributed is alerted by a Facebook message
        div &nbsp
        div &nbsp
        div Enjoy!
    .push
include footer