!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Berkshire+Swash')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Imprima')
    script(type='text/javascript', src='/javascripts/jquery1_7_2.js')
    script(type='text/javascript', src='/javascripts/consequences.js')
    script(type='text/javascript', src='/javascripts/growActive.js')
    script(type='text/javascript', src='/javascripts/facebookLogin.js')
    script(type="text/javascript", src='/javascripts/googleanalytics.js')
    meta(property="og:title", content="The TalePipe")
    meta(property="og:type", content="game")
    meta(property="og:url", content="http://thetalepipe.com")
    meta(property="og:image", content="http://www.thetalepipe.com/images/Tail128.png")
    meta(property="og:site_name", content="TalePipe")
    meta(property="fb:app_id", content="479013118782003")
    meta(property="og:description", content="Welcome to TalePipe--a way to see just how good your friends are at spinning a story when they don't know all the facts. Write the first few lines of a story and challenge others to continue the tale by adding their contributions. Sounds easy--except for the fact that they'll only be able to see the last few words of the previous section.")
  #fb-root
  body!= body