!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Berkshire+Swash')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Imprima')
    script(type='text/javascript', src='/javascripts/jquery1_7_2.js')
    script(type='text/javascript', src='/javascripts/consequences.js')
    script(type='text/javascript', src='/javascripts/facebookLogin.js')
  #fb-root
  body!= body