mixin tab(text, link, extraclass)
    .tab(class=extraclass)
        a.tabcontent.nohighlight(href="#{link}") #{text}

#navbar
    .title
        a.nohighlight(href="/") Consequences
    #loginbar
    table.tabtable
        tr
            td
                mixin tab('Create a Story', '/create', 'loggedon')
            td
                mixin tab('See Other Stories', '/viewrandom', '')
            td
                mixin tab('See my stories', '/view', 'loggedon')