include mixins/locationWidget
.wrapper
    include navbar
    mixin locationWidget('read')
    .container 
        div Sorry! We couldn't find the story you are looking for.
    .push
include footer