include mixins/storymixins
script(src='/javascripts/storyrenderer.js')
.wrapper
    include navbar
    .container
        mixin storyrender(storyId, storyTitle, characterOne, location, owner, sections, completed)
    .push
include footer