html, body
    font-size: 14px
    font-family: 'Imprima', sans-serif
    background: #D8DCCE
    color: #321E1E
    height: 100%

a
    color: #0069FF
 
*
    margin: 0

.wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -50px

.footer, .push
    height: 50px

.footer
    font-family: 'Berkshire Swash', cursive
    width: 100%
    background-color: #333333
    color: #d9d9d9
 
#navbar
    font-family: 'Berkshire Swash', cursive
    width: 100%
    height: 160px
    border-bottom: medium solid black
    background-color: #333333
    color: #d9d9d9
	
.title
    float: left
    font-size: 100px
    padding: 10px 0 0 30px

.title a
    color: #d9d9d9
    text-decoration: none
    
#loginbar
    float: right
    padding: 20px
 
#container
    margin: 20px auto
    width: 80%
    padding: 20px
    background: #ffffff
    box-shadow: 1px 3px 3px #333
    border-radius: 5px

.button
    text-align:center
    background-color: #525252
    margin: 5px
    padding: 3px
    border-radius: 5px
    
.nohighlight
    