html, body
    font-size: 14px
    font-family: 'Imprima', sans-serif
    background: #D8DCCE
    color: #321E1E
    height: 100%

a
    color: #0069FF
 
*
    margin: 0

.wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -50px

.footer, .push
    height: 50px

.footer
    font-family: 'Berkshire Swash', cursive
    width: 100%
    background-color: #333333
    color: #d9d9d9
    
.footer-content
    padding: 7px
 
#navbar
    font-family: 'Berkshire Swash', cursive
    width: 100%
    height: 160px
    background-color: #333333
    color: #d9d9d9
    position: relative
	
.title
    float: left
    font-size: 100px
    padding: 10px 0 0 30px
    
.bigbutton
    font-size: 24px
    margin: 10px
    padding: 20px
    background-color: #eef2e3
    border-radius: 5px
    width: 40%
    border: dotted
    cursor: pointer
    
#contributebutton
    padding: 5px
    border-radius: 5px
    width: 100px
    background-color: #eef2e3
    border: dotted
    cursor: pointer
    
.disabled
    text-decoration: line-through
    
.pointertab
    cursor: pointer
    
.pointer
    cursor: pointer
    text-decoration: underline
    
#loginbar
    float: right
    padding: 20px
 
#container
    margin: 20px auto
    width: 80%
    padding: 20px
    background: #ffffff
    box-shadow: 1px 3px 3px #333
    border-radius: 5px
    overflow: auto;

.leftfloat
    float: left
    
.rightfloat
    float: right
    
.clearfloats
    clear: both
    
.centerhorizontal
    text-align: center
    margin-left: auto
    margin-right: auto
    
.button
    text-align:center
    background-color: #525252
    margin: 5px
    padding: 3px
    border-radius: 5px
    
.nohighlight
    color: #d9d9d9
    text-decoration: none
    
.tabtable
    border-spacing: 0
    position: absolute
    bottom: 0
    right: 0
    
.tab
    padding: 5px
    background-color: #525252
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    
.biggertext
    font-size: 18px
    
.loggedon, .loggedout
    display: none
    
.optionholder
    padding: 2px
    
.option
    font-weight: strong
    
.optioninput
    margin-top: 4px
    margin-left: 20px
    width: 60%
    resize: none
    
.gonebad
    color: red
    
.storysection
    margin: 3px
    border-radius: 5px
    background-color: #f2f2f2
    padding: 5px
    
.storyholder
    background-color: #fafafa
    border-radius: 5px
    padding: 5px
    margin: 5px
    border: dotted
    cursor: pointer
    
.storytitle
    font-weight: bold
    
.storycomplete
    font-weight: bold
    background-color: #aaf2aa
    border-radius: 3px
    padding: 3px
    margin: 3px
    
.storyincomplete
    font-weight: bold
    background-color: #ffbfbf
    border-radius: 3px
    padding: 3px
    margin: 3px
    
.like
    background-color: #8694fa
    border-radius: 3px
    padding: 3px
    margin: 3px
    cursor: pointer
    
.likehover
    font-weight: bold

.firstButton
    background-image: url('../images/first.png')
    width: 16px
    height: 16px
    
.prevButton
    background-image: url('../images/prev.png')
    width: 16px
    height: 16px
    
.nextButton
    background-image: url('../images/next.png')
    width: 16px
    height: 16px
    
.lastButton
    background-image: url('../images/last.png')
    width: 16px
    height: 16px
    
.hovering
    background-color: #d7d7d7
    border-radius: 2px
    
.sortbutton
    cursor: pointer
    border-radius: 2px
    padding: 2px
    margin: 2px
    margin: 2px
    
.sortbutton.selected
    background-color: #d7d7d7
    
.orderindicatorup
    background-image: url('../images/up.png')
    width: 16px
    height: 16px
    
.orderindicatordown
    background-image: url('../images/down.png')
    width: 16px
    height: 16px