html, body
    font-size: 14px
    font-family: 'Imprima', sans-serif
    background: #D8DCCE
    color: #321E1E
    height: 100%

a
    color: #0069FF
 
*
    margin: 0

.wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -110px

.footer, .push
    height: 110px

.footer
    font-family: 'Berkshire Swash', cursive
    width: 100%
    background-color: #333333
    color: #d9d9d9
    position relative
    
.footer-content
    margin: auto
    width: 100%  
    text-align: right
    position: absolute
    padding: 5px
    bottom: 0
    right: 0
    
.fb_send_button_form_widget.fb_edge_comment_widget {
    margin-top: -250px
}

.fb_edge_comment_widget {
    margin-top: -160px
}
 
#navbar
    font-family: 'Berkshire Swash', cursive
    width: 100%
    height: 130px
    background-color: #333333
    color: #d9d9d9
    position: relative
	
.title
    float: left
    font-size: 500%
    
.bigbutton
    font-size: 24px
    margin: 10px
    padding: 20px
    background-color: #eef2e3
    border-radius: 5px
    border: solid
    width: 40%
    cursor: pointer
    
#contributebutton
    padding: 5px
    border-radius: 5px
    border-width: 1px
    width: 100px
    background-color: #eef2e3
    border-style: solid
    cursor: pointer
    
.disabled
    color: gray
    
.pointertab
    cursor: pointer
    
.pointer
    cursor: pointer
    text-decoration: underline
    
.loginholder
    width: 100px
    height: 60px
    display:box;
    box-orient:horizontal
    box-pack:center
    box-align:center
    vertical-align: middle
    text-align: center

#loginbar
    color: #333333

#logoutbar
	
#navcontents
    margin: auto
    width: 70%
    height: 100%
    
#navcontents2
    margin: 0 -20px
    height: 100%
    position: relative
 
.container
    margin: 20px auto
    width: 70%
    padding: 20px
    background: #ffffff
    box-shadow: 1px 3px 3px #333
    border-radius: 5px
    overflow: visible;

.locationWidget
    box-shadow: 1px 3px 3px #333
    position: fixed
    left: 10px
    top: 200px
    width: 8%
    margin: 0px auto
    background-color: #333333
    color: #d9d9d9
    font-size: 20px

.highlightedsection
    font-weight: bold

.leftfloat
    float: left
    
.rightfloat
    float: right
    
.clearfloats
    clear: both
    
.centerhorizontal
    text-align: center
    margin-left: auto
    margin-right: auto
    
.button
    text-align:center
    background-color: #525252
    margin: 5px
    padding: 3px
    border-radius: 5px
    
.nohighlight
    color: #d9d9d9
    text-decoration: none

.bottomtabtable
    border-spacing: 0
    position: absolute
    top: 0
    right: 0
    
.tabtable
    border-spacing: 10px
    position: absolute
    top: 10px
    right: 0

.fixedwidth
    width: 125px

.tabstyle
    padding: 10px
    background-color: #525252
    border-radius: 5px
    text-align: center

.bigtab
    font-size: 35px
    
.biggertext
    font-size: 18px
    
.loggedon, .loggedout
    display: none
    
.optionholder
    padding: 2px
    
.option
    font-weight: strong
    
.optioninput
    margin-top: 4px
    margin-left: 20px
    width: 60%
    resize: none
    
.ideasgroup
    background-color: #f7f6ed
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    padding: 10px
    margin: 3px
    width: 20%

.gonebad
    color: red

.lockwarning
    color: red
    
.storysection
    margin: 3px
    border-radius: 5px
    background-color: #f2f2f2
    padding: 5px
    
.storyholder
    background-color: #fafafa
    border-radius: 5px
    border-width: 2px
    padding: 5px
    margin: 5px
    border-style: solid

.seemore
    cursor: pointer
    z-index: 999999
    position: relative
    padding: 5px
    margin: 3px
    background-color: #eef2e3
    border-radius: 5px
    text-align: center
    width: 80px
    
#storywindow
    border-radius: 5px
    padding: 5px
    margin: 5px
    border: solid

.storytitle
    font-weight: bold
    
.storycomplete
    font-weight: bold
    background-color: #aaf2aa
    border-radius: 3px
    padding: 3px
    margin: 3px
    
.storyincomplete
    font-weight: bold
    background-color: #ffbfbf
    border-radius: 3px
    padding: 3px
    margin: 3px

.firstButton
    background-image: url('../images/first.png')
    width: 16px
    height: 16px
    
.prevButton
    background-image: url('../images/prev.png')
    width: 16px
    height: 16px
    
.nextButton
    background-image: url('../images/next.png')
    width: 16px
    height: 16px
    
.lastButton
    background-image: url('../images/last.png')
    width: 16px
    height: 16px
    
.hoverbutton
    background-color: #eef2e3
    border-radius: 5px
    border-style: solid
    border-width: 1px

.hovering
    background-color: #d7d7d7
    
.sortbutton
    cursor: pointer
    background-color: #eef2e3
    border-style: solid
    border-width: 2px
    border-radius: 5px
    padding: 2px
    margin: 2px
    margin: 2px
    
.sortbutton.selected
    background-color: #d7d7d7
    
.orderindicatorup
    cursor: pointer
    background-image: url('../images/up.png')
    width: 16px
    height: 16px
    
.orderindicatordown
    cursor: pointer
    background-image: url('../images/down.png')
    width: 16px
    height: 16px

.refresh
    cursor: pointer
    background-image: url('../images/refresh.png')
    width: 16px
    height: 16px

#visibleText
    color: green

.rightstyle
    background-color: #CEF6D8

.indent
    padding-left: 5px