mixin locationWidget(location)
    .locationWidget.container
        - if (location === 'create')
            .highlightedsection Create
        - else
            a(class="nohighlight", href="/create") Create
        - if (location === 'contribute')
            .highlightedsection Contribute
        - else
            .nohighlight Contribute
        - if (location === 'read')
            .highlightedsection Read
        - else
            a(class="nohighlight", href="/") Read